body {
  background-color: #d0d7db;
}
.App {
  font-family: sans-serif;
}

.home_main {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  gap: 2px;
}

.home_main_inp input {
  width: 500px;
  height: 30px;
  text-indent: 5px;
  font-size: 12.6pt;
  border-radius: 5px;
  border: solid 1.5px #d3d3d3;
  -webkit-transition: 1s;
  transition: 1s;
}

input[type="text"]:hover {
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
}
input[type="text"]:focus {
  box-shadow: 0 0 5pt 2pt #d3d3d3;
  outline-width: 0px;
}

.home_main_btn button {
  width: 90px;
  height: 35px;
  text-indent: 5px;
  font-size: 12.6pt;
  border-radius: 5px;
  border: solid 1.5px #d3d3d3;
  -webkit-transition: 1s;
  transition: 1s;
  color: aliceblue;
  background-image: -webkit-linear-gradient(0deg, #009ffd 0%, #2a2a72 100%);
}
